<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vchmgi.myappointment"
    android:installLocation="preferExternal">


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name="android.support.multidex.MultiDexApplication"
        android:theme="@style/AppTheme">
        <activity android:name=".CalendarMainClass">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".UploadClass"/>
        <activity android:name=".Login"/>
        <activity android:name=".UserClass"/>
        <activity android:name=".ThankClass"/>
        <activity android:name=".RescheduleClass"/>
        <activity android:name=".ReplyClass"/>
        <activity android:name=".SmsSendingClass"/>
        <activity android:name=".DialClass"/>

        <provider
            android:name="com.service_provider.ServiceProvider"
            android:authorities="com.vchmgi.myappointment"
            android:exported="false"
            android:grantUriPermissions="true"
            >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />

        </provider>
    </application>

</manifest>